body{
    background-color: lightgray;
    text-align: center;
}

.Texto{
    color: indigo;
}

#Livros {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    height: 70vh; 
}

#iframes{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    height: 70vh;    
}

table{
    display: flex;
    justify-content: center;
    border-color: red;
    border: red;
    border-style: dashed;
}

th, td{
    color: red;
}

.container {
    text-align: center;
}

.links {
    background-color: yellow;
    display: inline-block;
    padding: 10px;
    margin: 10px auto;
    text-align: left;
    font-weight: bold;
}

.IMG {
    justify-content: space-between;
}

#mensagem {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mensagem {
    background-color: bisque;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

a{
    color: red;

}

.IMGtop {
    justify-content: space-between;
}

#mensage {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: green;
}

.mensage {
    background-color: bisque;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: 3px solid; 
    border-color: blue;
}