<!DOCTYPE html>
<html>
    <head>
        <title>Resposta para o Usuário</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>
        <h1>Resposta:</h1>
        <p>Mensagem do Servidor: <%= mensagem %></p>

        <p>Usuário: <%= usuário %></p>
        <p>Email: <%= login %></p>

    </body>
</html>